<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false">
  <testsuites>
    <testsuite name="FirstTest">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="Entities">
      <directory>tests/entities</directory>
    </testsuite>
  </testsuites>
</phpunit>